<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Portfolio</title>
</head>
<body>
    <form method="post">
        What is the name of the portfolio you wish to view?
        <select name="Portfolios" method="GET" action="/">
            <option value="{{names[0]}}" selected>{{names[0]}}</option>
            {% for x in names[1:] %}
                <option value="{{x}}">{{x}}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">View Portfolio</button>
        <br>
        Go back to <a href="http://127.0.0.1:5000/">Home</a>
    </form>


</body>
</html>