<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New or Existing</title>
</head>
<body>

    <hl>Welcome user!</hl>
    <p>
        If you wish to add an order, go to: <a href="http://127.0.0.1:5000/add_order">Add Order</a>
    <br>
        If you wish to sell an order, go to: <a href="http://127.0.0.1:5000/sell_order">Sell Order</a>
    <br>
        If you wish to view your portfolio, go to: <a href="http://127.0.0.1:5000/select_portfolio">View/Select Portfolio</a>
    </p>


</body>
</html>