<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New or Existing</title>
</head>
<body>

    <hl>Welcome pannenkoek!</hl>
    <p>
        If you wish to place a buy order, go to: <a href="http://127.0.0.1:5000/buy_order">Buy Order</a>
    <br>

        If you wish to view your portfolio, go to: <a href="http://127.0.0.1:5000/select_portfolio">View/Select Portfolio and Sell stock</a>
    </p>

    <img src="https://tr.rbxcdn.com/0260bfb370b3bf0b6e45304fb53e8e39/420/420/Shirt/Png" alt="naruto">



</body>
</html>