<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New or Existing</title>
</head>
<body>

    <hl>Welcome user!</hl>
    <p>
        If you wish to place a buy order, go to: <a href="http://127.0.0.1:5000/buy_order">Buy Order</a>
    <br>
        If you wish to place a sellorder, go to: <a href="http://127.0.0.1:5000/sell_order">Sell Order</a>
    <br>
        If you wish to view your portfolio, go to: <a href="http://127.0.0.1:5000/view_portfolio">View Portfolio</a>
    </p>


</body>
</html>