<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Portfolio</title>
</head>
<body>

<form method="post" action="/sell_order">
<b>{{portfolio.name}}</b>
        <table>
            {%for key,value in portfolio.calculate_balances().items() %}
                <tr>
                    <td> {{ key }} : {{ value }} </td>
                </tr>
            {% endfor %}

        </table>
        <br>
        What stock do you want to sell?
        <input type ="text" name="stock">
        <br>
        How many?
        <input type="number" name="amount">
        <br>
        Do you want to sell another stock?
        <select name="next_action">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Back to Home">Back to Home</option>
        </select>
        <br>
        <input type="hidden" name="portfolio" value="{{portfolio.name}}">
        <button type="submit">Sell</button>
</form>
</body>

</html>
